nav {
    color: white;
    background: linear-gradient(to right, rgb(59, 63, 65), lightgrey);
    /* background-color:black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2.5%;
}
nav>ul>li {
    list-style-type: none;
    display: inline;
    
}

#appName {
    font-weight: bold;

}