
.viewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-image: linear-gradient(to left, pink, yellow);*/
    background-color: rgb(136, 132, 132);
}